{% extends 'base.html' %}

{% block content %}
    <h1>Projects listing</h1>

    <a href="/projects/add/">Add new project</a>

    <table>
        <thead>
            <tr>
                <th>Project name</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>
                        <a href="/projects/edit/{{ project.id }}/">Edit</a>
                        <a href="/projects/delete/{{ project.id }}/">Delete</a>
                        <a href="/projects/{{ project.id }}/">View</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}