{% extends 'base.html' %}

{% block content %}
    <div class="header">
        <h2>Project - {{ project.name }}</h2>

        <div class="buttons">
            <a href="{% url 'projects.edit' project.id %}" class="button button-positive">Edit</a>
        </div>
    </div>


    <div class="project-layout">
        <ul class="project-fields">
            <li class="fl-full"><span class="project-field-label">Status</span> {{ project.status }}</li>
            <li class="fl-half"><span class="project-field-label">Start date</span>{{ project.start_date }}</li>
            <li class="fl-half"><span class="project-field-label">End date</span>{{ project.end_date }}</li>
        </ul>

        <p class="project-description">
            <span class="project-field-label">Description</span>{{ project.description }}
        </p>
    </div>

    <div class="header">
        <h3>Activity</h3>

        <div class="buttons">
            <a href="{% url 'projects.progresses.add' project.id %}" class="button button-positive">Add new progress</a>
        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th>Notification text</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for project_progress in project_progresses %}
            <tr>
                <td>{{ project_progress.notification_text }}</td>
                <td>{{ project_progress.date }}</td>
                <td>
                    <a href="{% url 'projects.progresses.edit' project.id project_progress.id %}"
                       class="button button-positive">Edit</a>
                    <a href="{% url 'projects.progresses.delete' project.id project_progress.id %}"
                       class="button button-danger confirm-delete">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginator project_progresses 'progress_page' %}
{% endblock %}