{% extends 'base.html' %}

{% block content %}
    <h2>Project - {{ project.name }}</h2>

    <a href="{% url 'projects.edit' project.id %}" class="button button-positive">Edit</a>

    <p>{{ project.description }}</p>

    <div>
        <p>Status: {{ project.status }}</p>
        <p>Start date: {{ project.start_date }}</p>
        <p>End date: {{ project.end_date }}</p>
    </div>

    <h3>Activity</h3>

    <a href="{% url 'projects.progresses.add' project.id %}" class="button button-positive">Add new progress</a>

    <table>
        <thead>
            <tr>
                <th>Notification text</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for project_progress in project_progresses %}
                <tr>
                    <td>{{ project_progress.notification_text }}</td>
                    <td>{{ project_progress.date }}</td>
                    <td>
                        <a href="{% url 'projects.progresses.edit' project.id project_progress.id %}" class="button button-positive">Edit</a>
                        <a href="{% url 'projects.progresses.delete' project.id project_progress.id %}" class="button button-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}