<ul class="pagination">
    {% if object.has_previous %}
        <li><a href="?{{ get_param }}={{ object.previous_page_number }}">Previous</a></li>
    {% endif %}

    {% for page in object.paginator.page_range %}
        <li class="page{% if page == object.number %} current-page{% endif %}"><a href="?{{ get_param }}={{ page }}">{{ page }}</a></li>
    {% endfor %}

    {% if object.has_next %}
        <li><a href="?{{ get_param }}={{ object.next_page_number }}">Next</a></li>
    {% endif %}
</ul>