<ul class="pagination">
    {% if object.has_previous %}
        <li><a href="?{{ get_param }}={{ object.previous_page_number }}">Previous</a></li>
    {% endif %}

    {% for page in object.paginator.page_range %}
        {% if page == object.number %}
            <li class="page current-page">{{ page }}</li>
        {% else %}
            <li class="page"><a href="?{{ get_param }}={{ page }}">{{ page }}</a></li>
        {% endif %}
    {% endfor %}

    {% if object.has_next %}
        <li><a href="?{{ get_param }}={{ object.next_page_number }}">Next</a></li>
    {% endif %}
</ul>