.form-container {
  li {
    margin: 0 0 10px 0;

    label {
      display: block;
      font-weight: bold;
      margin: 0 0 5px 0;
    }

    input, select, textarea {
      width: 100%;
    }
  }

}