body {
  padding: 0;
}

.main-content {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
}

// Header layout
.header {
  display: block;
  position: relative;

  .buttons {
    position: absolute;
    right: 0;
    top: 0;
  }
}