{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app.css' %}" />
    <script type="text/javascript" src="{% static 'app.js' %}"></script>
</head>
<body>

    <nav class="menu">
        <ul class="menu-left">
            {% if user.is_authenticated %}
                <li>
                    <a href="javascript: void(0)">Projects</a>
                    <ul class="sub-menu">
                        <li><a href="{% url 'projects.index' %}">View my projects</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>

        <ul class="menu-right">
            <li>
                <a href="javascript: void(0)">Account</a>
                {% if user.is_authenticated %}
                    <ul class="sub-menu">
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                {% else %}
                    <ul class="sub-menu">
                        <li><a href="{% url 'home' %}">Login</a></li>
                    </ul>
                {% endif %}
            </li>
        </ul>
    </nav>

    {% if messages %}
    <ul class="flash-messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>
</body>
</html>